.demo { 
  margin-top: 200px;
  background:url(imagem.png);
  animation: aumentar 3s infinite ease-in-out ;
  margin-left: auto;
  margin-right: auto; 
}

@keyframes aumentar {
  from {
    width: 200px;
    height: 200px;
  }
  to {
    width: 200px;
    height: 200px;
    transform: rotate(360deg);}
}