

.demo { 
  width: 300px;
  height: 300px;
  margin-top: 200px;
  margin-left: 500px;
  animation: aumentar 2s  infinite ;
}

@keyframes aumentar {

  from {
    
  }

  to {
    transform: rotate(360deg);
  }
}